@import url('fonts.css');

:root {
  --harrys-crimson: #A51C30;
  --cambridge-red: #EB001B;
  --breakthrough-blue: #0579B8;
  --bookmark-blue: #3E6F7D;
  --brilliant-yellow: #F8C21C;

  --h-black: #1E1E1E;
  --h-gray-1: #414141;
  --h-gray-2: #6C6C6C;
  --h-gray-3: #C0C0C0;
  --h-gray-4: #F3F3F3;
  --h-gray-5: #F9F9F9;

  /* Fonts */
  --font-headline: trueno-regular, sans-serif;
  --font-subhead: lora-bold, sans-serif;
  --font-bodycopy-accent: trueno-regular, sans-serif;
  --font-bodycopy: lora-regular, sans-serif;

  /* Other colors */
  --btn-active-color: #C9C9C9;
  --header-color: var(--h-black);
}

body {
  font-family: var(--font-bodycopy);
  color: var(--h-gray-1);
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-headline);
}
h1, h2 {
  color: var(--header-color);
}
a, .btn-link {
  color: var(--breakthrough-blue);
}
a:hover, .btn-link:hover {
 color: var(--bookmark-blue);
}

/* Buttons */
/* .btn-primary {
  background-color: var(--jhu-secondary-5);
  border-color: var(--jhu-secondary-5);
  color:white;
}
.btn-primary:hover {
  background-color: var(--jhu-accent-10);
  border-color: var(--jhu-accent-10);
} */
/*
 * This mess must be done in order to properly override Bootstrap styles for a clicked button
 */
/* .btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--jhu-accent-10);
  border-color: var(--jhu-accent-10);
}

.btn-outline-primary {
  border-color: var(--jhu-secondary-5);
  color: var(--jhu-secondary-5);
}
.btn-outline-primary:hover {
  background-color: var(--jhu-secondary-5);
  border-color: var(--jhu-secondary-5);
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: var(--jhu-accent-10);
  border-color: var(--jhu-accent-10);
}

.btn-danger	{
  color: white;
  background-color: var(--jhu-secondary-1);
}
.btn-danger:hover {
  background-color: var(--jhu-accent-7);
  border-color: var(--jhu-accent-7);
}
.btn-danger:not(:disabled):not(.disabled):active {
  background-color: var(--jhu-accent-7);
  border-color: var(--jhu-accent-7);
} */

.btn {
  font-size: 1em !important;
}

/* Header */
#brand-site-container {
  background-color: var(--h-gray-5);
}
#brand-header {
  background-color: var(--harrys-crimson);
}
#brand-header-title {
  color: white;
  font-family: var(--font-headline);
}
#header-navbar {
  font-family: var(--font-bodycopy-accent);
  background-color: var(--h-gray-1);
  padding: 0;
  margin-bottom: 1rem;
}
#header-navbar .nav-item {
  padding: 0 6px;
}
#header-navbar .nav-item .active {
  font-weight: bold;
}
#header-navbar .nav-link {
  color: white;
  font-size: 16px;
}
#user-menu {
  color: white;
}
#user-menu-title {
  background-color: var(--h-gray-4);
  color: var(--h-gray-2);
}
#user-menu .dropdown-item:active {
  background-color: var(--h-gray-1);
}
#brand-logo {
  height: 110px;
  margin-top: -10px;
  margin-right: -35px;
  margin-bottom: -10px;
}
.app-footer {
  background-color: var(--h-gray-1);
  color: white;
  border: 0;
}

/* Status icons */
/* .manuscript-required>.fa-circle, .manuscript-required .fa-info-circle,
.approval-requested>.fa-circle, .approval-requested .fa-info-circle,
.changes-requested>.fa-circle, .changes-requested .fa-info-circle,
.needs-attention>.fa-circle, .needs-attention .fa-info-circle,
.stalled>.fa-circle, .stalled .fa-info-circle,
.failed>.fa-circle, .failed .fa-info-circle,
.rejected>.fa-circle, .rejected .fa-info-circle {
  color: var(--brilliant-yellow);
}
.cancelled>.fa-circle, .cancelled .fa-info-circle,
.not-submitted>.fa-circle, .not-submitted .fa-info-circle {
  color: var(--breakthrough-blue);
}
.submitted>.fa-circle, .submitted .fa-info-circle,
.complete>.fa-circle, .complete .fa-info-circle {
  color: var(--bookmark-blue);
} */
.draft>.fa-circle, .draft .fa-info-circle {
  color: gray;
}

/* Submission workflow */
#proxy-input-block {
  background-color: var(--h-gray-4);
  color: var(--h-black);
  border-color: var(--h-gray-3);
}
#on-behalf-of-block {
  background-color: var(--h-gray-4);
  color: var(--h-black);
  border-color: var(--h-gray-3);
}

th.table-header > i {
  color: var(--h-black);
  opacity: 0.8;
}
#grant-details-title .back-arrow, #submission-details-title .back-arrow {
  color: var(--h-black);
  opacity: 0.7;
}
#grant-details-title .back-arrow:hover,
#submission-details-title .back-arrow:hover {
  opacity: 0.5;
}


