@font-face {
  font-family: "trueno-regular";
  src: url("../fonts/TruenoRg.otf");
}
@font-face {
  font-family: "trueno-bold";
  src: url("../fonts/TruenoBd.otf");
}
@font-face {
  font-family: "lora-regular";
  src: url("../fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: "lora-bold";
  src: url("../fonts/Lora-Bold.ttf");
}